* {
    box-sizing: border-box;
  }

  @font-face {
    font-family: "Poppins";
    src: url("assets/fonts/Poppins/Poppins-Regular.ttf");
}

body, html {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "Poppins";
    scroll-behavior: smooth;
}

.nav-list {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin: 0;
    font: 300 18px "Poppins", serif;
    background-color: #424242;
}

.item {
    list-style-type: none;
}

.item-list {
    transition: 0.3s;
    list-style-type: none;
}

.item-list a {
    text-decoration: none;
    color: #ffffff;
}

.item a {
    text-decoration: none;
    color: #000000;
    word-break: break-word;
    transition: all .3s;
}

.item p {
    margin: 0;
    padding: 0;
}

.item span {
    font-size: 16px;
}

.author__name {
    min-height: 250px;
    background-color: #525252;
    color: #ffffff;
}

.author__name p {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    padding-top: 45px;
    text-align: center;
    font: 700 40px "Poppins", serif;
}

h2 {
    font-style: italic;
}

.author__name p {
    text-align: center;
    font: italic 300 18px "Poppins", serif;
}

.author img {
    display: block;
    width: 300px;
    height: 300px;
    margin: -100px auto 0;
    border-radius: 50%;
    border: 5px solid #ffffff;
}

ul {
    margin: 0;
    padding: 0;
}

.wrapper {
    position: relative;
    font-size: 1.2em;
}

.wrapper::before {
    position: absolute;
    content: '';
    display: block;
    width: 4px;
    height: 100%;
    left: 50%;
    background-color: #424242;
}

.wrapper section {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.wrapper section:nth-child(odd) {
    margin-right: 50%;
    padding-right: 8%;
    text-align: right;
}

.wrapper section:nth-child(even) {
    margin-left: 50%;
    padding-left: 8%;
}

.wrapper section:last-child {
    margin-bottom: 0;
}

.wrapper section {
    position: relative;
}

.wrapper section:nth-child(odd)::before {
    position: absolute;
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    right: 10%;
    top: 35px;
    border: 2px solid #424242;
    border-radius: 50%;
}

.wrapper section:nth-child(odd)::after {
    position: absolute;
    content: "";
    display: block;
    width: 10%;
    height: 2px;
    right: 0;
    top: 45px;
    background-color: #424242;
}

.wrapper section:nth-child(even)::before {
    position: absolute;
    content: "";
    display: block;
    width: 10%;
    height: 2px;
    left: 0;
    top: 46px;
    background-color: #424242;
}

.wrapper section:nth-child(even)::after {
    position: absolute;
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    left: 10%;
    top: 35px;
    border: 2px solid #424242;
    border-radius: 50%;
}

#hobby ul {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
}

#hobby .item img {
    width: 60px;
    height: 60px;
    padding: 10px;
    border: 1px solid #424242;
    border-radius: 50%;
    transition: all .3s;
}

footer ul {
    display: flex;
    min-height: 80px;
    justify-content: space-around;
    align-items: center;
    background-color: #525252;
    color: #ffffff;
}

footer ul li {
    display: flex;
    flex: 1;
    justify-content: center;
}

.icon-github {
    width: 35px;
    height: 35px;
}

.icon {
    width: 80px;
    height: 30px;
    transition: all .3s;
}

.contacts_descr {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-top: 15px;
}

.contacts_descr img {
    width: 30px;
    transition: all .5s;
}

.education_descr {
    margin-top: 15px;
    font-size: 16px;
}

.title_img {
    position: absolute;
    max-width: 400px;
    height: 0;
    top: 50%;
    z-index: -1;
}

.title {
    position: relative;
}

@media (any-hover: hover) {
    .item a:hover {
        text-decoration: underline;
    }

    .item-list:hover {
        transform: scale(1.3);
    }

    .item > a.logo:hover,
    .item > a > img.icon:hover {
        transform: scale(1.3);
    }

    .contacts_descr img:hover {
        transform: scale(1.3);
    }

    .title:hover {
        cursor: pointer;
    }

    .title:hover .title_img {
        z-index: 1;
        height: auto;
    }

    #hobby .item img:hover {
        cursor: grab;
        transform: scale(1.2);
    }
}

@media screen and (max-width: 980px) {
    .nav-list {
        font-size: 16px;
    }

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 26px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .wrapper section:nth-child(odd)::before,
    .wrapper section:nth-child(even)::after {
        top: 30px;
    }

    .wrapper section:nth-child(odd)::after,
    .wrapper section:nth-child(even)::before {
        top: 41px;
    }

    pre {
        display: block;
        margin: 0 0 0 -40px;
    }
}

@media screen and (max-width: 720px) {
    .author__photo img {
        width: 200px;
        height: 200px;
    }

    .item img {
        width: 30px;
        height: 30px;
    }

    .item .icon {
        width: 80px;
    }

    #snippet pre {
        font-size: 14px;
    }

    .title img {
        display: none;
    }
}

@media screen and (max-width: 650px) {
    .wrapper::before {
        display: none;
    }

    .wrapper section:nth-child(odd),
    .wrapper section:nth-child(even) {
        margin: 0;
        text-align: left;
        padding-left: 40px;
    }

    .wrapper section:nth-child(odd)::before,
    .wrapper section:nth-child(even)::after {
        width: 15px;
        height: 15px;
        left: 3%;
        top: 30px;
    }

    .wrapper section:nth-child(odd)::after,
    .wrapper section:nth-child(even)::before {
        width: 3%;
        height: 2px;
        left: 0;
        top: 38px;
    }

    p {
        padding-right: 5%;
    }

    .contacts_descr {
        justify-content: flex-start;
    }
}